/**

** Contacts developer

* @developer Barakial
* @skype vega1eugene
* @site Barakial.com

*/

button,
input,
a{
    outline: none;
}

.level-two-header .top-header-content {
    width: 100%;
    min-height: 110px;
    padding-top: 15px;
}

.level-two-header .top-header-logo {
    float: left;
    width: 170px;
}

.level-two-header .top-header-logo a img {
    display: block;
    margin: 25px auto;
}

.level-two-header .top-header-info {
    float: left;
    width: 85%;
}

.level-two-header .top-header-desc-site {
    font-family: "LatoRegular";
    font-size: 15px;
    color: #1c1c1c;
}

.level-two-header .top-header-content-right {
    float: right;
    width: 50%;
}

.level-two-header .top-header-content-phones {
    float: left;
    width: 40%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.level-two-header .top-header-content-phones.open {
    height: auto;
}

.level-two-header .arrow-open-phone {
    display: none;
    position: absolute;
    right: 0px;
    border: none;
    background: transparent;
    line-height: 50px;
}

.level-two-header .arrow-open-phone.max-phone-button-on {
    display: block;
}

.level-two-header .arrow-open-phone i {
    font-size: 16px;
}

.level-two-header .top-header-icon-phone {
    float: left;
}

.level-two-header .top-header-icon-phone i {
    color: #1c1c1c;
    font-size: 18px;
    line-height: 45px;
}

.level-two-header ul.top-header-phones {
    padding-left: 30px;
}

.level-two-header ul.top-header-phones li {
    display: block;
}

.level-two-header ul.top-header-phones li a {
    color: #1c1c1c;
    font-size: 18px;
    font-family: "LatoRegular";
    font-weight: normal;
}

.level-two-header .top-header-callback-search {
    float: right;
    width: 36%;
}

.level-two-header .top-header-callback-search button {
    display: block;
    width: 100%;
    min-height: 43px;
    border: none;
    background: #37286d;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-family: "LatoMedium";
    margin-bottom: 10px;
}

.level-two-header .top-header-search {
    float: right;
    width: 100%;
    position: relative;
}

.top-header-search i {
    position: absolute;
    right: 10px;
    z-index: 1;
    line-height: 35px;
}

.level-two-header .top-header-search input {
    float: right;
    width: 179px;
    border: none;
    position: relative;
    background: #f6f6f8;
    line-height: 35px;
    padding: 0 10px;
    font-size: 16px;
    color: #1c1c1c;
    font-family: "LatoRegular";
    border-radius: 3px;

    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
}

.level-two-header .top-header-search input:focus {
    width: 100%;

    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
}

.level-two-header .bottom-header-content {
    border-top: 1px solid #f2f2f2;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.level-two-header ul.bottom-header-nav {
    padding: 0px;
    margin-bottom: 0px;
    height: 50px;
}

.level-two-header ul.bottom-header-nav li {
    display: inline-block;
    text-align: center;
    width: 16%;
}

.level-two-header ul.bottom-header-nav li a {
    width: 100%;
    text-align: center;
    display: block;
    line-height: 47px;
    font-size: 17px;
    color: #1c1c1c;
    font-family: "LatoMedium";
    text-decoration: none;

    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.level-two-header ul.bottom-header-nav li a:hover,
.level-two-header ul.bottom-header-nav li a:focus {
    background: #f8f8f9;
    color: #37286d;
    border-bottom: 3px solid #9450de;

    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 99;
    padding: 0px;
    min-width: 300px;
}

.level-two-header ul.bottom-header-nav li ul.sub-menu li {
    display: block;
    width: 100%;
    background: #f5f3f4;
}

.level-two-header ul.bottom-header-nav li ul.sub-menu li a:hover {
    border: none;
}

.level-two-header ul.bottom-header-nav li ul.sub-menu li a {
    text-align: left;
    position: relative;
    font-size: 15px;
    padding-left: 20px;
}

.level-two-header ul.bottom-header-nav li ul.sub-menu li i {
    float: left;
    font-size: 9px;
    color: #c6c6c5;
    line-height: 45px;
    padding-left: 6px;
    position: relative;
    z-index: 1;
}

.level-two-header ul.bottom-header-nav li ul.sub-menu li:hover,
.level-two-header ul.bottom-header-nav li ul.sub-menu li i:hover {
    background: #fbfafb;
    color: #37286d;
}

.block-banner-elem {
    width: 100%;
    position: relative;
}

.block-banner-elem {
    width: 100%;
    background: url("../img/bg_slider_1.jpg");
    /* background-size: cover;*/
    height: 515px;
    padding-top: 90px;
}

h4.title-banner {
    text-align: center;
    font-size: 60px;
    color: #ebebeb;
    font-family: "LatoLight";
    text-transform: uppercase;
    margin-bottom: 55px;
}

p.desc-banner {
    text-align: center;
    font-size: 18px;
    font-family: "LatoMedium";
    color: #fff;
    min-height: 105px;
    max-width: 905px;
    display: block;
    margin: auto;
}

.group-button-banner {
    width: 100%;
    display: inline-block;
    text-align: center;
}

a.left-button-banner {
    width: 210px;
    height: 55px;
    border: 2px solid #39296f;
    margin-right: 30px;
    line-height: 55px;
    display: inline-block;
    background: #39296f;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LatoMedium";
    text-decoration: none;
}

a.left-button-banner:hover {
    text-decoration: none;
    border: 2px solid #39296f;
    background: transparent;
    color: #39296f;
}

a.right-button-banner {
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LatoMedium";
    width: 210px;
    line-height: 55px;
    display: inline-block;
    height: 55px;
}

a.right-button-banner:hover {
    background: #fff;
    text-decoration: none;
    color: #37286d;
}

button.slick-prev.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 49px;
    height: 79px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url("../img/arrow_slider_left.png");
    z-index: 2;
}

button.slick-next.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    right: 0;
    display: block;
    width: 49px;
    height: 79px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url("../img/arrow_slider_right.png");
    z-index: 2;
}

.section {
    display: block;
    padding: 40px 0;
}

.section-subtitle {
    margin: 0px;
    font-size: 16px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-family: "LatoMedium";
}

.section-title-area {
    display: block;
    margin-bottom: 45px;
}

.section-title {
    font-size: 50px;
    color: #1b1b1b;
    text-transform: uppercase;
    padding-left: 30px;
    font-family: "LatoRegular";
    position: relative;
}

.section-title:after {
    content: "";
    position: absolute;
    width: 75px;
    border-bottom: 3px solid #e8e8f1;
    top: 100%;
    left: 11%;
    margin-top: 10px;
}
.service {
    background: #f6f6f8;
}
.thumb-service {
    width: 100%;
    display: block;
}

.thumb-service img {
    width: 100%;
    border-radius: 3px;
}

.shadow-bottom-service {
    background: #fff;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.12);
    width: 99%;
    display: block;
    margin: auto;
    border-radius: 2px;
    min-height: 220px;
}

.title-service {
    display: block;
    width: 90%;
    background: #fff;
    position: relative;
    top: -50px;
    margin: auto;
    text-align: center;
    border-radius: 3px;
    min-height: 95px;
    padding: 20px;
}

.title-service:after {
    content: "";
    position: absolute;
    width: 75px;
    border-bottom: 2px solid #e8e8f1;
    top: 100%;
    left: 33%;
}

.title-service span {
    font-size: 17px;
    color: #1c1c1c;
    font-family: "LatoMedium";
}

.content-service {
    position: relative;
    top: -50px;
    padding: 15px;
}

.content-service p {
    text-align: center;
    font-size: 15px;
    color: #666666;
    font-family: "LatoMedium";
}

.col-md-3.hover-service {
    position: relative;
    top: 0px;

    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.col-md-3.hover-service:hover {
    position: relative;
    top: -15px;
    cursor: pointer;

    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.col-md-3.hover-service:hover .title-service span {
    color: #37286d;
}
.more-services {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.button-more-service {
    display: block;
    font-size: 15px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-family: "LatoMedium";
}
.button-more-service i {
    display: inline-block;
    width: 1px;
    font-size: 16px;
    vertical-align: top;
}
.section-desc {
    margin-top: 40px;
    padding: 0 30px;
}
.section-desc p {
    font-size: 16px;
    color: #bcbcbc;
    font-family: "LatoMedium";
    text-align: left;
}
.thumb-about {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
}
.thumb-about img {
    display: block;
    margin: auto;
}
.title-about {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.title-about span {
    font-size: 18px;
    color: #1c1c1c;
    display: block;
    text-align: center;
    font-family: "LatoMedium";
}
.content-about p {
    font-size: 15px;
    color: #666666;
    text-align: center;
    font-family: "LatoMedium";
}
.js-gallery {
    display: inline-block;
    width: 100%;
}
.js-gallery a {
    width: 20%;
    display: block;
    float: left;
    overflow: hidden;
}
.js-gallery a img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}
.js-partners {
    position: relative;
}
.js-partners-carousel img {
    cursor: pointer;
}
.owl-nav .top-left {
    left: -5%;
    top: 20%;
    position: absolute;
}
.owl-nav .top-right {
    right: -5%;
    top: 20%;
    position: absolute;
}
.owl-nav .chevron-right, .chevron-left {
    border-color: #fff;
}
.owl-nav .chevron-left:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: 6px;
    margin-left: -30px;
    border: 15px solid;
    border-color: #444;
    border-top: 24px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 24px solid transparent;
}
.owl-nav .chevron-left:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: 6px;
    margin-left: -18px;
    border: 10px solid;
    border-color: inherit;
    border-top: 24px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 24px solid transparent;
}
.owl-nav .chevron-right:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: 6px;
    border: 15px solid;
    border-color: #444;
    border-top: 24px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 24px solid transparent;
}
.owl-nav .chevron-right:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: 6px;
    border: 10px solid;
    border-color: inherit;
    border-top: 24px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 24px solid transparent;
}
.review {
    background: #fbfbfb;
}
.logo-review {
    width: 100%;
    display: block;
}
.logo-review img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.review-image {
    width: 100%;
    display: block;
    padding: 20px;
}
.review-image img {
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.review-option-text {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}
.col-md-4.review-option-text {
    min-height: 510px;
}
.image-client-review img {
    display: block;
    margin: 25px auto;
}
.client-name-reviw {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.client-name-reviw:after {
    content: "";
    position: absolute;
    width: 75px;
    border-bottom: 2px solid #e8e8f1;
    top: 100%;
    left: 38%;
    margin-top: 10px;
}
.client-name-reviw span {
    text-align: center;
    display: block;
    color: #1d1d1d;
    font-size: 17px;
    font-family: "LatoMedium";
}
.client-review-content {
    position: relative;
    padding: 0 20px;
    margin-bottom: 25px;
}
.client-review-content p {
    position: relative;
    font-size: 15px;
    color: #666666;
    text-align: center;
    font-family: "LatoMedium";
}
.client-review-content p:before {
    content: "";
    position: absolute;
    background: url("../img/quote.png") no-repeat;
    width: 45px;
    height: 45px;
    left: -25px;
    top: -16px;
}
.feedback {
    background: url("../img/index_1110.jpg") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 640px;
}
.feedback .section-title {
    color: #fff;
}
.form-content {
    width: 50%;
    display: block;
    margin: auto;
}
.form-content input {
    width: 100%;
    border: none;
    background: #f6f6f8;
    height: 54px;
    text-align: center;
    font-size: 16px;
    color: #bcbcbc;
    font-family: "LatoMedium";
    border-radius: 5px;
    margin-bottom: 33px;
    box-shadow: inset 3px 4px 16px rgba(0, 0, 0, 0.16);
}
.form-content textarea {
    width: 100%;
    height: 130px;
    font-family: "LatoMedium";
    text-align: center;
    font-size: 16px;
    background: #f6f6f8;
    box-shadow: inset 3px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    resize: none;
    padding-top: 15px;
    margin-bottom: 33px;
}
.form-content button {
    width: 100%;
    height: 55px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #39296e;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LatoMedium";
}
.new-post {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #e8e8f1;
    padding-bottom: 37px;
    margin-bottom: 35px;
}
.new-post img {
    display: block;
    margin: auto;
    width: 100%;
}
.title-post {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.title-post p {
    font-size: 22px;
    color: #1d1d1d;
    font-family: "LatoRegular";
    margin-bottom: 0px;
}
.content-post {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.content-post p {
    font-size: 16px;
    color: #666666;
    font-family: "LatoRegular";
    margin-bottom: 0px;
}
.date-post {
    float: left;
}
.date-post p {
    font-size: 12px;
    color: #bcbcbc;
    font-family: "LatoMedium";
    text-transform: uppercase;
}
.more-post-link {
    float: right;
}
.more-post-link a {
    font-size: 14px;
    color: #1d1d1d;
    font-family: "LatoMedium";
}
.more-post-link a i {
    display: inline-block;
    width: 1px;
    font-size: 14px;
    vertical-align: middle;
}
.button-more-news {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.button-more-news a {
    width: 210px;
    height: 55px;
    margin: auto;
    line-height: 55px;
    display: block;
    background: #39286f;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: "LatoMedium";
    text-decoration: none;
    border-radius: 3px;
}
.subscribe {
    background: url("../img/section_subscribe_bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 452px;
}
p.subscribe-top-text {
    text-align: center;
    color: #fbfbfb;
    font-size: 18px;
    font-family: "LatoRegular";
    margin-top: 55px;
    margin-bottom: 40px;
}
.form-subsribe {
    width: 50%;
    display: block;
    margin: auto;
}
.form-subsribe input {
    width: 100%;
    border: none;
    background: #f6f6f8;
    height: 54px;
    text-align: center;
    font-size: 16px;
    color: #bcbcbc;
    font-family: "LatoMedium";
    border-radius: 5px;
    margin-bottom: 33px;
    box-shadow: inset 3px 4px 16px rgba(0, 0, 0, 0.16);
}
.form-subsribe button {
    width: 100%;
    height: 55px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LatoMedium";
}
p.subscribe-bottom-text {
    text-align: center;
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 33px;
    color: #fbfbfb;
    font-size: 14px;
    font-family: "LatoRegular";
}
footer {
    width: 100%;
    display: inline-block;
    background: #302e2e;
    padding: 25px 0px;
}
div#map_footer {
    width: 100%;
    height: 240px;
    background: #eee;
}
span.footer-title-block {
    font-size: 14px;
    color: #e1e1e1;
    text-transform: uppercase;
    font-family: "LatoMedium";
}
span.footer-title-block {
    font-size: 14px;
    color: #e1e1e1;
    text-transform: uppercase;
    font-family: "LatoMedium";
    display: block;
    width: 82%;
    border-bottom: 1px solid #673898;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
span.footer-title-block:after {
    content: "";
    position: absolute;
    width: 24%;
    height: 3px;
    left: 0;
    top: 98%;
    background: #372b58;
}
ul.footer-nav,
ul.footer-social-link{
    padding: 0px;
}
ul.footer-nav li {
   display: block;
    list-style: none;
}
ul.footer-nav li a {
    font-size: 15px;
    color: #e1e1e1;
    font-family: "LatoRegular";
    display: block;
    padding-top: 5px;
}
.footer-contacts p {
    position: relative;
}
.footer-contacts p,
.footer-contacts p a{
    font-size: 15px;
    color: #e1e1e1;
    font-family: "LatoRegular";
    display: table-header-group;
    width: 100%;
    padding-left: 15px;
    display: block;
}
.footer-contacts p i {
    font-size: 15px;
    position: absolute;
    left: 0;
}
.footer-contacts p span,
.footer-contacts p a{
    padding-left: 10px;
}
ul.footer-social-link li {
    display: inline-block;
}
.form-subsribe-footer input {
    height: 50px;
    border: none;
    background: #f6f6f8;
    border-radius: 3px;
    padding: 0 10px;
    float: left;
    width: 64%;
}
.form-subsribe-footer button {
    height: 50px;
    border: none;
    background: #37286d;
    color: #fbfbfb;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "LatoMedium";
    padding: 0 15px;
    float: right;
}
.copyright {
    width: 100%;
    background: #1d1d1d;
}
.copyright-company {
    float: left;
    line-height: 55px;
}
.copyright-company p {
    margin-bottom: 0px;
    font-size: 13px;
    color: #8a8a8a;
    font-family: "LatoMedium";
}
.developer-company_Barakial {
    float: right;
    line-height: 55px;
}
.developer-company_Barakial a {
    margin-bottom: 0px;
    font-size: 13px;
    color: #8a8a8a;
    font-family: "LatoMedium";
}
.developer-company_Barakial a img {
    margin-left: 20px;
}